@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 공통구역 헤더와 공통구역! 관리하기 편하게 */
*{ 
    margin:0; padding:0; list-style: none; text-decoration: none; color:black;
    font-family: Noto Sans KR, sans-serif; font-weight:400; box-sizing: border-box;
}

button{ border:0; cursor: pointer; background:none;}

.gnb>li>a:hover{ color:#009178; }
.company{ overflow: hidden;}

.topBtn button{
    position: fixed; right:20px; bottom: 150px;
    width:40px; height:40px; background: #000; 
    color:#fff; font-size:10px; border-radius: 20px; 
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
/* PC 미디어 스크린!! 반응형  */
@media screen and (min-width:1200px){
            /*#header*/
            #header{ 
                position:fixed; background:white; left:0; top:0; z-index:1; display: flex; 
                width:100%; height:90px; justify-content: space-between; overflow: hidden;
            }

            h1{
                margin:22px 0 0 20px;
            }

            .tmNav{
                display:none;
            }
            
            .gnb{
                display: flex;
            }

            .gnb>li{
                margin:0 20px; text-align: center;
            }

            .gnb>li>a{ 
                display: block; width:100px; height:80px; line-height:80px; 
            }
            .gnb>li>ul a{ 
                display:block; height:40px; line-height:40px; 
                font-size:14px;
            }

            .util{
                display: flex;
            }
            .util li{
                margin: 22px 20px 0 0;
            }

            #container{
                margin-top:80px;
            }

            #container section:not(:nth-child(3)) h2{ display:none; }

            .company{
                width:100%; height:650px;
            }

            .slide{
                width:200%; height:650px; display: flex;
            }

            .slide li{ flex:1;}
            .s1{background: url(../img/20231207060014190.png) no-repeat center top/cover #009178;}
            .s2{background: url(../img/20230518085527647.jpg) no-repeat center top/cover;}
            .slide li div{ width:1200px; margin:0 auto; }
            .slide li div img{ width:50%; margin: 170px 0 0 100px;}

            .slideBtn{ 
                position: absolute; left: 50%; margin: -150px 0 0 -600px;
                width:150px; height: 40px; background: rgba(0,0,0,0.6); border-radius: 20px;
            }

            .slideBtn button{ margin:10px 15px; }
            .slideBtn span{ color:#fff; }


            /*newest*/

            .newest{
                width: 100%; height:670px; background: #f5fbfa;
            }

            .newestWrap{
                width:1200px;height:670px; margin: -50px auto 0 auto;
            }

            .newestWrap ul{ display: flex; justify-content: space-between; flex-wrap:wrap; }
            .newestWrap ul li{ 
                width:32%; height:280px; margin-bottom: 20px;
                border-radius: 20px; 
                box-shadow: 0 0 5px rgba(0,0,0,0.4);

            }
            .newestWrap ul li:nth-child(1){
                background: url(../img/bg-hanagroup.png) no-repeat right 30px bottom 30px #fff;
            }
            .newestWrap ul li:nth-child(2){
                background: url(../img/bg-global.png) no-repeat right 30px bottom 30px #fff;
            }
            .newestWrap ul li:nth-child(3){
                background: url(../img/bg-shareprice-m.png) no-repeat right bottom/200px auto  #effbf7;
            }
            .newestWrap ul li:nth-child(4){
                background: url(../img/20230731075409661.jpg) no-repeat right  bottom 20px/150px auto #fff;
            }
            .newestWrap ul li:nth-child(5){
                background: url(../img/20230524092725713.jpg) no-repeat right  bottom 20px/150px auto #fff;
            }
            .newestWrap ul li:nth-child(6){
                background: url(../img/bg-result.png) no-repeat right 30px bottom 30px #fff;
            }

            .newestWrap p:nth-child(1){ 
            height:50px; font-size:18px; line-height: 50px; 
            padding-left:20px; 
            border-bottom:1px solid #d9d9d9;
            margin-bottom:20px;
            }
            .newestWrap p:first-child a{ 
                width:93%; height:50px; display: block;
                background: url(../img/more-btn3.GIF) no-repeat right center; 
            }


            .newestWrap li:not(:nth-child(3)) p:nth-child(2){
                padding-left:20px; font-size: 20px; font-weight: 600;
            }

            .newestWrap li:nth-child(1) p:nth-child(3),.newestWrap li:nth-child(2) p:nth-child(3)
            { margin:60px 0 0 20px; font-size: 14px; color:#999;}


            .newestWrap li:nth-child(3) p:nth-child(2){ 
                margin: 0 0 20px 20px;
            }
            .newestWrap li:nth-child(3) p:nth-child(3){ 
                margin: 0 0 40px 20px; font-size:14px; font-weight: 800;
            }
            .newestWrap li:nth-child(3) p:nth-child(3) b{
                font-size:30px; margin-right:5px;
                font-weight: 900;
            }

            .newestWrap li:nth-child(3) p:nth-child(4){ 
                margin-left:20px;
            }

            .newestWrap li:nth-child(3)~li>a{
                position: absolute; padding:10px 40px 10px 15px; border-radius: 30px; 
                background:url(../img/download-btn.gif) no-repeat right 20px center;
                margin:20px 0 0 20px; font-size:12px;
            }

            .newestWrap li:nth-child(3)~li>a:last-child{ margin-top:80px; }

            .news{
                width:1200px; height:550px; margin:0 auto;
            }

            .news h2{
                float:left; margin:80px 0 30px 0;
            }
            .news>a{float:right; display: block; 
                    margin:80px 0 30px 0; padding-right:20px; 
                    background: url(../img/more-btn1.GIF) no-repeat right center;    
                    }
            .news ol{
                clear: both; display: flex; justify-content: space-between;
            }
            
            .news li{ width:24.5%; }
            .news img{ width:100%; border-radius: 20px;}

            .news p:nth-child(2){
                border:1px solid #0c8570; margin:10px 0; 
                width:60px; height:25px; color: #0c8570; font-size: 14px;
                text-align: center; line-height: 20px; border-radius: 3px;
            }

            .news p:nth-child(3){ font-weight: 700; margin-bottom:50px;}
            .news p:nth-child(4){ font-size: 14px; color:#999;  }

            .business{ width:1200px; height:350px; margin:0 auto; display: flex; justify-content: space-between;}
            .business>div{ width:48%; }

            .business h3{ 
                font-size:25px; font-weight: 700; margin-bottom:30px; 
                float:left;
            }
            .business>div>a{ 
                float:right; display: block;
                margin-top:10px; padding-right:20px;
                background: url(../img/more-btn1.GIF) no-repeat right center;
            }

            .business div>*:nth-child(3){ clear: both; }

            .business table{  width: 100%; }
            .business td:first-child{ width:80%; height:40px;}
            .business td:first-child a{ font-weight: 700;} 
            .business td:last-child{ text-align: right;}

            .business ol{ display: flex;}
            .business li{ flex:1; border-left: 1px solid; padding-left:20px; }

            .business li p:first-child{ font-weight: 700; margin-bottom:50px; }

            .business li a{ 
                padding-right:20px; 
                background: url(../img/download-btn.gif) no-repeat right center;
            }

            .job{ 
                width:100%; height:250px; 
                background: url(../img/bg-recruit.png) no-repeat center top/cover;
            }
            .jobWrap{ 
                width:1200px; height:250px; margin:0 auto;
                display: flex; justify-content: space-between;
            }

            .jobWrap p{ font-size:30px; margin-top:60px; }
            .jobWrap p b{ color:#fff; font-weight: 700; }

            .jobWrap div{ margin-top:70px; }

            .jobWrap a{ 
                display: block;  
                width:200px; height:50px; border-radius: 25px;
                line-height:50px; padding-left: 20px;
                margin-bottom:10px; 
            }
            .jobWrap a:first-child{ 
                background: #fff; font-weight: 600;}

            .jobWrap a:last-child{ 
                background: #292f35; font-weight: 600; color:#fff; }

            #footer{ width:100%; height:200px; background: #000; }

            .footerTop{ width:100%; height:50px; border-bottom:1px solid rgba(255,255,255,0.3); }
            .footerInner1{ 
                width:1200px; height:50px; margin:0 auto;
                display: flex; justify-content: space-between;
            }
            .footerInner1 ul{ display: flex;}
            .footerInner1 ul:first-child li{ margin: 12px 20px 0 0; }
            .footerInner1 ul:last-child li{ margin: 12px 0 0 20px; }
            .footerInner1 a{ color:#fff; }

            .footerBottom{ 
                width:1200px; height:150px; margin:0 auto; 
                display: flex; justify-content: space-between;}

            .footerBottom *{ color:#fff; font-style: normal;
            }
            .footerBottom p:first-child{ margin:10px 0;}

            .footerBottom address, .footerBottom p:nth-of-type(2){ float:left; margin-right:30px;}
            .footerBottom p:last-child{ clear: both; }

            .footerBottom>a{ margin-top:50px;}

            .test{ 
                display: none;
                width:500px; height:300px; border:5px solid; 
            }
            .test table{ border:3px solid red; width:300px;}
            .test table td{ border:2px solid green; height:100px;}
            .test p{ border:3px solid; height:100px;}
            .test a{ border:5px solid blue;  }

}

/* 테블릿 미디어 스크린!! 반응형  */
@media screen and (min-width:491px) and (max-width:1199px){

        #header{position:fixed; background: #fff; left:0; top:0; z-index:1; width:100%; height:80px; 
                display: flex; justify-content: space-between;
        }
        h1{margin:22px 0 0 20px;}


        nav{ 
        position:fixed; right:0; top:0; margin-right:-100%; width:100%; height:100%; background: white; }   

        .tmNav{ height:80px; display: flex; justify-content: space-between; border-bottom:2px solid #009178; }

        .tmNav a{ margin:22px 0 0 20px;  }

        .tmNav button{ font-size:20px; color:#009178; margin-right:20px; }

        .gnb>li{ display: flex;}

        .gnb>li>a{ width:40%; height:80px; line-height: 80px; padding-left:20px; background: rgba(0,0,0,0.03);}

        .gnb>li:first-child>a{ background: white;}

        .gnb>li>ul{ 
            width:60%; height:calc(100% - 80px); 
            position: fixed; right:0; top:80px; margin-right:-100%;
            margin-left: 40%; background: white;}

        .gnb>li>ul a{ display:block; height:70px; line-height: 70px; padding-left:20px; font-weight: 700; }

        .util{ display: flex;}

        .util li{ margin: 22px 20px 0 0; }

        .util li:nth-child(2),.util li:nth-child(3){ display:none; }



        #container{ margin-top:80px;}
        #container section:not(:nth-child(3)) h2{ display:none; }

        .company{ overflow: hidden; width:100%; height:650px; }

        .slide{ width:200%; height:520px; display: flex; }

        .slide li{ flex:1;}
        .s1{background: url(../img/20231207060014190_tm.png) no-repeat center top/cover #009178;}
        .s2{background: url(../img/20230518085527647_tm.jpg) no-repeat center top/cover;}
        .slide li div img{ width:40%; margin: 60px 0 0 50px;}

        .slideBtn{ 
        position: absolute; width:150px; height: 40px;
        left:30px; top:500px; 
        background: rgba(0,0,0,0.6); border-radius: 20px;}
        .slideBtn button{ margin:10px 15px; }
        .slideBtn span{ color:#fff; }


        .newest{width: 100%; background: #f5fbfa;}
        .newestWrap{ margin: -50px auto 0 auto;}

        .newestWrap ul li{ 
        width:92%; height:280px; margin: 0 auto 50px auto; border-radius: 20px;
        box-shadow: 0 0 5px rgba(0,0,0,0.4);
        }

        .newestWrap ul li:nth-child(1){background: url(../img/bg-hanagroup.png) no-repeat right 30px bottom 30px #fff;}
        .newestWrap ul li:nth-child(2){background: url(../img/bg-global.png) no-repeat right 30px bottom 30px #fff;}
        .newestWrap ul li:nth-child(3){background: url(../img/bg-shareprice-m.png) no-repeat right bottom/200px auto  #effbf7;}

        .newestWrap ul li:nth-child(4){background: url(../img/20230731075409661.jpg) no-repeat right 30px bottom 100px/150px auto #fff;}
        .newestWrap ul li:nth-child(5){background: url(../img/20230524092725713.jpg) no-repeat right 30px bottom 100px/150px auto #fff;}
        .newestWrap ul li:nth-child(6){background: url(../img/bg-result.png) no-repeat right 80px bottom 100px #fff;}


        .newestWrap p:nth-child(1){ height:50px; font-size:18px; line-height: 50px; padding-left:20px; border-bottom:1px solid #d9d9d9;
                                margin-bottom:20px;}
        .newestWrap p:first-child a{ width:93%; height:50px; display: block; background: url(../img/more-btn3.GIF) no-repeat right center; }
        .newestWrap li:not(:nth-child(3)) p:nth-child(2){ padding-left:20px; font-size: 20px; font-weight: 600;}
        .newestWrap li:nth-child(1) p:nth-child(3),.newestWrap li:nth-child(2) p:nth-child(3){ margin:60px 0 0 20px; 
                                        font-size: 14px; color:#999;}
        .newestWrap li:nth-child(3) p:nth-child(2){ margin: 0 0 20px 20px;}
        .newestWrap li:nth-child(3) p:nth-child(3){margin: 0 0 40px 20px; font-size:14px; font-weight: 800; }
        .newestWrap li:nth-child(3) p:nth-child(3) b{font-size:30px; margin-right:5px; font-weight: 900; }
        .newestWrap li:nth-child(3) p:nth-child(4){ margin-left:20px;}


        .newestWrap li:nth-child(3)~li>a{
            display: block; border:1px solid #d9d9d9; 
            width:45%; margin: 80px 0 0 2.5%;
            height:40px; line-height:40px; padding-left:20px;
            float:left; border-radius: 30px; font-size:12px;
            background:url(../img/download-btn.gif) no-repeat right 20px center; 
            
        }




        .news h2{ float:left; font-size:18px; margin:80px 0 30px 20px; font-weight: 700;}
        .news>a{ float:right; display: block; margin:80px 20px 30px 0; padding-right:20px; 
        background: url(../img/more-btn1.GIF) no-repeat right center; }

        .news ol{ clear: both; }
        .news li{ width: 92%; margin:0 auto; }
        .news li:not(:first-child){ display: none;}

        .news img{ width:100%; border-radius: 20px;}

        .news p:nth-child(2){
            border:1px solid #0c8570; width:60px; height:25px; text-align: center; line-height: 20px;
        font-size: 14px; color: #0c8570; border-radius: 3px; margin:10px 0;
        }

        .news p:nth-child(3){ font-weight: 700; margin-bottom:50px;}
        .news p:nth-child(4){ font-size: 14px; color:#999;  }

        .business>div{ width:92%; margin:100px auto 50px auto; }
        .business h3{ font-size:20px; font-weight: 700; margin-bottom:30px; float:left;}

        .business>div>a{ float:right; display: block; margin-top:10px; padding-right:20px;
        background: url(../img/more-btn1.GIF) no-repeat right center;
        }

        .business div>*:nth-child(3){ clear: both; }
        .business table{  width: 100%; }
        .business td:first-child{ width:80%; height:40px;}
        .business td:first-child a{ font-weight: 700;} 
        .business td:last-child{ text-align: right;}

        .business ol{ width:100%; margin:0 auto;}

        .business li{ 
        border: 1px solid #d9d9d9; border-radius: 10px; 
        padding:20px; margin-bottom: 10px; display: flex; justify-content: space-between;
        }

        .business li p:first-child{ font-weight: 700; }
        .business li a{padding-right:20px; background: url(../img/download-btn.gif) no-repeat right center;}

        .job{
        width:100%; height:250px; 
        background: url(../img/bg-recruit.png) no-repeat center top/cover;
        }

        .jobWrap p{ font-size:20px; padding:60px 0 0 20px; }
        .jobWrap p b{ color:#fff; font-weight: 700; }


        .jobWrap div{ 
        width: 92%; margin:30px auto 0 auto;  
        display: flex; justify-content: space-between;
        }

        .jobWrap a{ display: block; width:48%; height:50px; border-radius: 25px; line-height:50px; 
        padding-left: 20px; margin-bottom:10px;}
        .jobWrap a:first-child{ background: white; font-weight: 600;}
        .jobWrap a:last-child{background: #292f35; font-weight: 600; color:white; }

        #footer{ width:100%; padding:30px 4% 100px 4%; background: #000; }
        #footer *{ color:#d9d9d9; font-size:14px;}

        .footerTop ul:first-child{ display: flex; flex-wrap: wrap; margin-bottom: 40px;}

        .footerTop ul:first-child li{
        width:50%; text-align: center;  height:40px; line-height: 40px;
        border-bottom:1px solid rgba(255,255,255,0.2);
        }

        .footerTop ul:last-child{ display: flex; justify-content: space-between; 
        padding:0 30px; margin-bottom:40px;}

        .footerInner2>*{ font-style: normal; padding-left:20px; margin-bottom:10px; }

        .footerBottom>a{ position: absolute; right:4%; margin-top:20px; }


}

/* 모바일 미디어 스크린!! 반응형  */
@media screen and (max-width:490px) {

        #header{ position:fixed; background: #fff; left:0; top:0; z-index:1; width:100%; height:80px; 
                display: flex; justify-content: space-between;
                }
        h1{ margin:22px 0 0 20px; }

        nav{ 
            position:fixed; right:0; top:0; margin-right:-100%; width:100%; height:100%; background: white;
        }   

        .tmNav{ height:80px; display: flex; justify-content: space-between; border-bottom:2px solid #009178;}

        .tmNav a{ margin:22px 0 0 20px;  }
        .tmNav button{ font-size:20px; color:#009178; margin-right:20px; }
        .gnb>li{ display: flex;}
        
        .gnb>li>a{ width:40%; height:80px; line-height: 80px; padding-left:20px; background: rgba(0,0,0,0.03);}
        .gnb>li:first-child>a{ background: white;}
        .gnb>li>ul{ 
            width:60%; height:calc(100% - 80px); 
            position: fixed; right:0; top:80px; margin-right:-100%;
            margin-left: 40%; background: white;
        }
        .gnb>li>ul a{ display:block; height:70px; line-height: 70px; padding-left:20px; font-weight: 700; }
        .util{ display: flex;}
        .util li{ margin: 22px 20px 0 0; }
        .util li:nth-child(2),.util li:nth-child(3){ display:none; }



        #container{ margin-top:80px;}
        #container section:not(:nth-child(3)) h2{ display:none; }

        .company{ overflow: hidden; width:100%; height:650px; }

        .slide{ width:200%; height:520px; display: flex; }
        .slide li{ flex:1;}

        .s1{background: url(../img/20231207060014190_tm.png) no-repeat center top/cover #009178;}
        .s2{background: url(../img/20230518085527647_tm.jpg) no-repeat center top/cover;}
        .slide li div img{ width:65%; margin: 60px 0 0 210px;}

        .slideBtn{ 
            position: absolute; width:150px; height: 40px;
            left:30px; top:500px; background: rgba(0,0,0,0.6); border-radius: 20px;
        }
        .slideBtn button{ margin:10px 15px; }
        .slideBtn span{ color:white; }


        .newest{width: 100%; background: #f5fbfa;}
        .newestWrap{ margin: -50px auto 0 auto;}

        .newestWrap ul li{ 
            width:92%; height:280px; margin: 0 auto 50px auto; border-radius: 20px;
            box-shadow: 0 0 5px rgba(0,0,0,0.4);
        }


        .newestWrap ul li:nth-child(1){background: url(../img/bg-hanagroup.png) no-repeat right 30px bottom 30px #fff;}
        .newestWrap ul li:nth-child(2){background: url(../img/bg-global.png) no-repeat right 30px bottom 30px #fff;}
        .newestWrap ul li:nth-child(3){background: url(../img/bg-shareprice-m.png) no-repeat right bottom/200px auto  #effbf7;}
        .newestWrap ul li:nth-child(4){background: url(../img/20230731075409661.jpg) no-repeat right  bottom 20px/150px auto #fff;}
        .newestWrap ul li:nth-child(5){background: url(../img/20230524092725713.jpg) no-repeat right  bottom 20px/150px auto #fff;}
        .newestWrap ul li:nth-child(6){background: url(../img/bg-result.png) no-repeat right 30px bottom 30px #fff;}
        .newestWrap p:nth-child(1){ height:50px; font-size:18px; line-height: 50px; padding-left:20px; border-bottom:1px solid #d9d9d9;
                                    margin-bottom:20px;}

        .newestWrap p:first-child a{ width:93%; height:50px; display: block; background: url(../img/more-btn3.GIF) no-repeat right center; }
        .newestWrap li:not(:nth-child(3)) p:nth-child(2){ padding-left:20px; font-size: 20px; font-weight: 600;}

        .newestWrap li:nth-child(1) p:nth-child(3),.newestWrap li:nth-child(2) p:nth-child(3){
            margin:60px 0 0 20px; font-size: 14px; color:#999;}

        .newestWrap li:nth-child(3) p:nth-child(2){ margin: 0 0 20px 20px;}

        .newestWrap li:nth-child(3) p:nth-child(3){margin: 0 0 40px 20px; font-size:14px; font-weight: 800; }

        .newestWrap li:nth-child(3) p:nth-child(3) b{font-size:30px; margin-right:5px; font-weight: 900; }

        .newestWrap li:nth-child(3) p:nth-child(4){ margin-left:20px;}

        .newestWrap li:nth-child(3)~li>a{position: absolute; padding:10px 40px 10px 15px; border-radius: 30px;
            background:url(../img/download-btn.gif) no-repeat right 20px center; margin:20px 0 0 20px; font-size:12px;
        }

        .newestWrap li:nth-child(3)~li>a:last-child{ margin-top:80px;}


        

        .news h2{ float:left; font-size:18px; margin:80px 0 30px 20px; font-weight: 700;}
        .news>a{ float:right; display: block; margin:80px 20px 30px 0; padding-right:20px; 
            background: url(../img/more-btn1.GIF) no-repeat right center;}
        .news ol{ clear: both; }

        .news li{ width: 92%; margin:0 auto; }
        .news li:not(:first-child){ display: none;}

        .news img{ width:100%; border-radius: 20px;}

        .news p:nth-child(2){ border:1px solid #0c8570; width:60px; height:25px; text-align: center; line-height: 20px;
            font-size: 14px; color: #0c8570; border-radius: 3px; margin:10px 0;}

        .news p:nth-child(3){ font-weight: 700; margin-bottom:50px;}
        .news p:nth-child(4){ font-size: 14px; color:#999;  }

        .business>div{ width:92%; margin:100px auto 50px auto; }
        .business h3{ font-size:20px; font-weight: 700; margin-bottom:30px; float:left;}
        .business>div>a{ float:right; display: block; margin-top:10px; padding-right:20px;
            background: url(../img/more-btn1.GIF) no-repeat right center;}

        .business div>*:nth-child(3){ clear: both; }

        .business table{  width: 100%; }

        .business td:first-child{ width:80%; height:40px;}

        .business td:first-child a{ font-weight: 700;} 

        .business td:last-child{ text-align: right;}


        .business ol{ width:92%; margin:0 auto;}

        .business li{ 
            border: 1px solid #d9d9d9; border-radius: 10px; 
            padding:20px; 
            margin-bottom: 10px;
            display: flex; justify-content: space-between;
        }

        .business li p:first-child{ font-weight: 700; }
        .business li a{padding-right:20px; background: url(../img/download-btn.gif) no-repeat right center;}

        .job{
            width:100%; height:250px; 
            background: url(../img/bg-recruit.png) no-repeat center top/cover;
        }

        .jobWrap p{ font-size:20px; padding:60px 0 0 20px; }
        .jobWrap p b{ color:#fff; font-weight: 700; }


        .jobWrap div{ 
            width: 92%; margin:30px auto 0 auto;  
            display: flex; justify-content: space-between;
        }

        .jobWrap a{ display: block; width:48%; height:50px; border-radius: 25px; line-height:50px; 
            padding-left: 20px; margin-bottom:10px;}

        .jobWrap a:first-child{ background: white; font-weight: 600;}

        .jobWrap a:last-child{background: #292f35; font-weight: 600; color:white; }
        #footer{ width:100%; padding:30px 4% 100px 4%; background: #000; }

        #footer *{ color:#d9d9d9; font-size:14px;}

        .footerTop ul:first-child{ display: flex; flex-wrap: wrap; margin-bottom: 40px;}

        .footerTop ul:first-child li{
            width:50%; text-align: center;  height:40px; line-height: 40px;
            border-bottom:1px solid rgba(255,255,255,0.2);
        }
        .footerTop ul:last-child{ display: flex; justify-content: space-between; 
        padding:0 30px; margin-bottom:40px;}

        .footerInner2>*{ font-style: normal; padding-left:20px; margin-bottom:10px; }

        .footerBottom>a{ position: absolute; right:4%; margin-top:20px; }


}


