@charset "utf-8";

/* PC서브스타일 */
@media screen and (min-width:1200px){

        /*전체 서브 공통*/
        #subContainer{ margin-top:100px; }
        .subTitle{ height:300px; text-align: center;}
        .sub1Bg{ background: url(../sub_img/hanaValueTitle.jpg) no-repeat center top/cover;  }

        .sub2Bg{ background: url(../sub_img/compositionTitle.jpg) no-repeat center top/cover;  }

        .sub3Bg{ background: url(../sub_img/foundationTitle.jpg) no-repeat center top/cover; }

        .sub4Bg{ background: url(../sub_img/businessListTitle.jpg) no-repeat center top/cover;  }
        
        .sub5Bg{ background: url(../sub_img/newsListTitle.jpg) no-repeat center top/cover;  }


        .subTitle h2{ color: #fff; padding:100px 0 10px 0; font-size:30px; font-weight: 800; }
        .subTitle p{ color:#fff; }

        .subLnb{ width:100%; height:50px; border-bottom:1px solid #d9d9d9; }
        .subLnb>div{ width:1200px; height:50px; margin:0 auto; display:flex; }

        .subLnb>div>a:first-child{ 
            width:50px; line-height: 50px; border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9; text-align: center;
        }
        .subLnb>div>*:not(:first-child){
            width:300px; border-right:1px solid #d9d9d9;
            padding-left:20px; line-height:50px;
        }

        #subContainer .subLnb ul{ padding-left:0; }
        .subLnb ul li a{ padding-left:20px;}
        .subLnb ul li:not(:first-child){ border:1px solid #d9d9d9; display: none; }
        .subLnb ul:hover li{ display: block; }
        .subLnb li:hover a{ display: block; height:50px; background: rgba(0,0,0,0.2); color:#fff;  }
        .subContent h3{ text-align: center; font-size:40px; font-weight: 700; margin:150px 0; }


        /*전체 서브 개별*/
        .value>div{ width:1200px; margin:0 auto;}
        .value>div p:first-child{ margin-bottom: 30px;  }
        .value>div p strong{ font-size:30px; font-weight: 900; }
        .value>div p b{ font-weight: 800;}
        .value>div img{ width: 80%; margin:150px 10%; }
        .value>div a{ 
            display: block; border:1px solid #d9d9d9; 
            width:200px; height:50px; margin:0 auto 100px auto;
            line-height: 50px; border-radius: 5px;
            font-size:14px; padding-left: 20px;
            background: url(../sub_img/more-btn1.GIF) no-repeat right 20px center;
        }
        .value>div a:hover{background: url(../sub_img/more-btn1.GIF) no-repeat right 20px center #d9d9d9; }


        .vision>div{ width:1200px; margin: 0 auto;} 
        .vision>div>img{ display: block; margin:50px auto; }
        .vision>div>div>div{ margin-left:300px; }
        .vision>div>div h4{ width:300px; font-size: 30px; font-weight: 800; position: sticky; top:150px; margin:30px 0; }
        .vision>div>div>div>*,.vision>div>div>div>div>* { margin:30px 0; }
        .vision>div>div>div img{ width:90%; margin:50px 0; }
        .vision>div>div>div>div:nth-child(4) img{ width:60%; margin:50px 15%; }
        .visionLine{ border-top:1px dotted #aeaeae; padding-top:50px; }
        .vision>div>div>div>div:first-child p:first-child{ color:#0c8570; font-weight:700; }
        .vision>div>div>div>div b{ font-size:23px; font-weight: 800; }
        .vision>div>div:last-child p:first-child{ font-size:23px; font-weight: 800;}
        .vision>div>div:last-child p:first-child b{ font-weight: 800; color: red; }


        .businessList table{ border-top:1px solid; width:1200px; margin:0 auto 30px auto; border-collapse : collapse;}
        .businessList tr>*{border-bottom:1px solid #d9d9d9; height:70px; text-align: center;}
        .businessList td:nth-child(2){ text-align: left; padding-left:50px; font-weight:700;}
        .businessList table a{ padding-right:20px; background: url(../sub_img/more-btn2.GIF) no-repeat right center;}
        .businessList th{ background: #f5f5f5; font-weight: 700;}
        .businessList>div>ul{ 
            width:300px; height:50px;
            margin: 0 auto 150px auto;
            display: flex; justify-content: space-between;
            font-size:14px;
        }
        .businessList>div>ul a:hover{ opacity:0.5; /*opacity(투명도): 배율단위*/ }
        .businessList-bottom{ width:100%; height:350px; background: #f5f5f5;}
        .businessList-bottom ul{ width:1200px; margin:0 auto; display: flex; justify-content: space-between; }
        .businessList-bottom li{ flex:1; margin-top:80px;  padding:30px; height:200px; border-radius: 10px; background: #fff;}
        .businessList-bottom li:nth-child(2){ margin:80px 20px 0 20px;}
        .businessList-bottom li>*{ margin-bottom:20px; }
        .businessList-bottom p:first-child strong{ font-weight: 700;}
        .businessList-bottom a{ font-size:14px; }
        .businessList-bottom a:hover{ opacity:0.5; }




        .managementSelect{ width:1200px; height:50px; margin: 0 auto 50px auto; }
        .managementSelect ol{ 
            width:250px; height:50px; border:1px solid #d9d9d9;
            border-radius: 8px; 
            position: absolute;
            overflow: hidden;
        }
        .managementSelect ol:active{ border:2px solid #0c8570; }
        .managementSelect li{ 
            height:48px;
            line-height: 48px; padding:0 20px; background: #fff;
            margin-bottom:1px;
            border-radius: 8px;}
        .managementSelect>button{
            margin-left: 260px; width: 120px; height:50px; background: #0c8570; color:#fff;
            border-radius: 8px;
        }
        .managementList table{
            border-top:1px solid; 
            width:1200px; margin:0 auto 200px auto;
            border-collapse : collapse;
        }
        .managementList tr>*{ border-bottom:1px solid #d9d9d9; height:70px; text-align: center;}
        .managementList td:nth-child(2){ width: 250px;}
        .managementList td:nth-child(3){ text-align: left; font-weight:700;}
        .managementList table a{ padding-right:20px; background: url(../img/download-btn.gif) no-repeat right center;}
        .managementList th{ background: #f5f5f5; font-weight: 700;}



        .focusVideoList>div{ width:1200px; margin:0 auto 100px auto;}
        .focusTab ul{ display: flex; margin-bottom:30px;}
        .focusTab button{ border:1px solid #d9d9d9; border-radius: 20px; padding:5px 15px; margin-right:10px;}
        .focusTab li:nth-child(1) button{ border:0; background:#000; color:#fff; }
        .focusVideoList>div>ul{ display: flex; flex-wrap: wrap; justify-content: space-between;}
        .focusVideoList>div>ul li{ width:31.5%; margin-bottom:50px;}
        .focusVideoList>div>ul li img{ width:100%; border-radius: 10px;}
        .focusVideoList>div>ul li p:nth-of-type(1){ margin:20px 0; }
        .focusVideoList>div>ul li p:nth-of-type(1) strong{ font-weight: 700;}
        .focusVideoList>div>ul li p:nth-of-type(2){ font-size:14px; color:rgba(0,0,0,0.6); }
        .focusVideoList>div>button{
            display: block;
            width:200px; height:50px; border:1px solid #d9d9d9;
            margin:0 auto; border-radius: 5px;
            font-weight: 700;
        }


        .layerPopup>div{
            display: none;
            position: fixed; left:0; top:0;
            width:100%; height:100%; 
            background: rgba(0,0,0,0.7);
            z-index: 2;
        }
        .layerPopup>div>div{
            position: fixed; left:50%; top:50%;
            width:1080px; height:550px;
            margin: -275px 0 0 -540px;
        }
        .layerPopup>div>div>p{ text-align: right; margin-bottom:30px;}
        .layerPopup button{ 
            width:40px; height: 40px; border-radius: 20px;
            background: rgba(255,255,255,0.2);
            font-size:20px; color:#fff;
            font-weight: 100;
        }
        .layerPopup>div>div>div{ display: flex;}
        .layerPopup iframe{
            border:0; width:710px; height: 470px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .layerPopup>div>div>div>div{ 
            width:370px; height:470px;
            background: #fff;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .layerPopup>div>div>div>div p{ padding: 40px 30px 0 30px; }
        .layerPopup strong{ font-size:23px; font-weight: 600; }


        .composition>div{ width:1200px; margin: 0 auto 200px auto; }
        .composition table{
            border-top:1px solid; width:1200px;
            border-collapse: collapse;
            margin-bottom:20px;
        }
        .composition tr>*{ border-bottom:1px solid #d9d9d9; height:70px; 
        }
        .composition td:nth-child(2){ 
            border-left: 1px solid #d9d9d9;
            border-right: 1px solid #d9d9d9;
        }
        .composition td{ width:700px; padding-left:30px; }
        .composition td:nth-child(1){ background: #f5fbfa;}
        .composition td:nth-child(1)~td{ width:250px; text-align: right; padding-right:30px;}
        .composition>div>p{ font-size:14px; color:#aeaeae}
        .composition>div>p:nth-child(3){ margin-bottom:20px; }



        .meetingList>div{width:1200px; margin:0 auto 200px auto;}
        .meetingListTitle{ 
            display: flex; justify-content: space-between;
            margin-bottom: 30px;}
        .meetingListTitle strong{ font-size:22px; font-weight: 700;}
        .meetingListTitle p:last-child{ font-size:14px; color:#aeaeae; }

        .meetingList table{
            border-top:1px solid; width:1200px;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        .meetingList tr>*{ width:250px; text-align: center; padding: 27px 0; border-bottom: 1px solid #d9d9d9;}
        .meetingList td:nth-child(1){ background: #f5f5f5; }
        .meetingList td:nth-child(2){ width:700px; text-align: left; padding-left:30px;}
        .meetingList th{ font-weight: 700;}
        .meetingList>div>a{ 
            display: block;
            width:250px; height:50px; 
            border:1px solid #d9d9d9;
            border-radius: 10px;
            line-height: 50px;
            padding-left:20px;
            background: url(../img/download-btn.gif) no-repeat right 20px center;
            float: right;
        }
        .meetingList>div>a:hover{ border:0; background: url(../img/download-btn.gif) no-repeat right 20px center#d9d9d9;}



        .foundation>div{ width:1200px; margin:0 auto 200px auto;}
        .foundationInfo{ 
            height:400px;
            background: url(../sub_img/foundationBg1.JPG) no-repeat right 120px bottom #eff7f8;
            border-radius: 10px;
            overflow: auto;
            margin-bottom: 100px;
        }

        .foundationInfo p:first-child{ margin: 70px 0 30px 50px; font-size:20px; font-weight: 600; color:#0c8570; }
        .foundationInfo p:nth-child(2){ margin:0 0 50px 50px;}
        .foundationInfo p:nth-child(2) b{ font-size: 35px; font-weight: 700; }
        .foundationInfo p:last-child{ margin-left:50px; color: #aeaeae; }
        .foundationTab{ display: flex; margin-bottom:100px; }
        .foundationTab button{ width:100%; height:70px; }
        .foundationTab li{ 
            flex:1; text-align: center;
            border-top:1px solid #d9d9d9;
            border-bottom:1px solid #d9d9d9;
            border-left:1px solid #d9d9d9;

        }
        .foundationTab li:first-child{ 
            border-right:1px solid #0c8570;
            border-color:#0c8570;
            background: #eff7f8;
            border-top-left-radius: 10px; 
            border-bottom-left-radius: 10px; 
        }
        .foundationTab li:first-child button{ color:#0c8570; font-weight: 600; }
        .foundationTab li:last-child{ 
            border-right:1px solid #d9d9d9; 
            border-top-right-radius: 10px; 
            border-bottom-right-radius: 10px; 
        }
        .foundationTabDiv>div{ display: flex; }
        .foundationTabDiv>div>div:first-child{ width:300px;}
        .foundationTabDiv h4{ font-size:25px; font-weight: 700; margin-bottom: 30px;}
        .foundationTabDiv a{ 
            border:1px solid #d9d9d9;
            display: block; width:200px; height:50px; border-radius: 5px;
            line-height: 50px; padding-left:25px;
            font-size:14px; font-weight: 600;
            background: url(../sub_img/home_icon.gif) no-repeat right 25px center;
        }
        .foundationTabDiv a:hover{ background: url(../sub_img/home_icon.gif) no-repeat right 25px center #d9d9d9; } 
        .foundationTabDiv>div>div:last-child{ font-size:18px; height:700px;}
        .foundationTabDiv>div:nth-child(1) div:last-child{
            background: url(../sub_img/foundationBg2.png) no-repeat center bottom/800px auto;
        }
        .foundationTabDiv>div:nth-child(2) div:last-child{
            background: url(../sub_img/foundationBg3.png) no-repeat center bottom/800px auto;
        }
        .foundationTabDiv>div:nth-child(3) div:last-child{
            background: url(../sub_img/foundationBg3.png) no-repeat center bottom/800px auto;
        }
        .foundationTabDiv>div:nth-child(4) div:last-child{
            background: url(../sub_img/foundationBg3.png) no-repeat center bottom/800px auto;
        }
        .foundationTabDiv>div:nth-child(5) div:last-child{
            background: url(../sub_img/foundationBg3.png) no-repeat center bottom/800px auto;
        }
        .foundationTabDiv>div:nth-child(6) div:last-child{
            background: url(../sub_img/foundationBg3.png) no-repeat center bottom/800px auto;
        }
        .foundationTabDiv>div:not(:nth-child(1)){ display: none; }


        .volunteer>div{ width:1200px; margin:0 auto 200px auto;}
        .volunteerInfo{ 
            height:400px; 
            background: url(../sub_img/volunteerBg1.JPG) no-repeat right 120px center #fbf8f1;
            border-radius: 10px;
            overflow: auto;
            margin-bottom: 100px;
        }
        .volunteerInfo p:first-child{
            margin: 70px 0 30px 50px;
            font-size:20px; font-weight: 600;
            color:#0c8570;
        }
        .volunteerInfo p:nth-child(2){ margin: 0 0 50px 50px; }
        .volunteerInfo p:nth-child(2) b{font-size: 35px; font-weight: 700; }
        .volunteerInfo p:last-child{ margin-left:50px; color:#aeaeae;}
        .volunteerTab{ display: flex; margin-bottom:100px; }
        .volunteerTab button{ width:100%; height:70px;}
        .volunteerTab li{
            flex:1; text-align: center;
            border-top:1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            border-left:1px solid #d9d9d9;
        }
        .volunteerTab li:first-child{
            border-color: #0c8570;
            border-right: 1px solid #0c8570;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background: #eff7f8;
        }
        .volunteerTab li:first-child button{ color:#0c8570; font-weight: 600; }
        .volunteerTab li:last-child{
            border-right: 1px solid #d9d9d9;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .volunteerTabDiv>div{ display: flex;}
        .volunteerTabDiv h4{ width:300px; font-size: 25px; font-weight: 700;}
        .volunteerTabDiv>div>div p{ font-size:18px; margin-bottom:30px;}
        .volunteerSlide{ 
            width:878px; height:585px; 
            overflow: hidden;
            border-radius: 10px;
        }
        .volunteerSlide ul{ width: 400%; display: flex;}
        .volunteerSlide ul li{flex: 1;}
        .volunteerControls1{
            display: flex; justify-content: space-between;
            position: absolute;
            width:918px;
            margin: -317px 0 0 -20px;
        }
        .volunteerControls1 button{
            width:40px; height:40px; border-radius: 20px;
            background: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            font-size:16px; font-weight: 700;
        }
        .volunteerState{
            position: absolute;
            margin: -60px 0 0 30px;
            padding:7px 16px;
            background: rgba(0,0,0,0.6);
            border-radius: 20px;
            color:rgba(255,255,255,0.5);
            letter-spacing: 3px;
        }
        .volunteerState span{ color:#fff;}
        .volunteerControls2{ margin-top:30px;}
        .volunteerControls2 ul{ width:878px; display: flex; justify-content: space-between;}
        .volunteerControls2 ul li{ flex:1; }
        .volunteerControls2 ul li:not(:last-child){ margin-right:30px;}
        .volunteerControls2 ul li img{ width:100%; border-radius: 10px;}
        .volunteerTabDiv a{    
            display: block;
            width:250px; height: 60px;
            border:1px solid #d9d9d9; border-radius: 10px;
            line-height: 55px; padding-left: 20px;   
            margin-top:100px;
            background: url(../img/more-btn1.gif) no-repeat right 20px center;
        }
        .volunteerTabDiv a:hover{ background: url(../img/more-btn1.gif) no-repeat right 20px center #d9d9d9; }


        .hanaFn>div{ width:320px; margin:0 auto 200px auto; }
        .hanaFn>div>p:first-child{
            font-size:30px; margin-bottom: 30px;
            text-align: center; letter-spacing: -2px;
        }
        .hanaFn>div>p:first-child b{ font-weight: 700;}
        .hanaFn>div>p:first-child b span{ font-weight: 700; color:#0c8570; }
        .hanaFn>div>p:nth-child(2){
            text-align: center; color: #aeaeae;
            font-size: 14px; margin-bottom: 30px;
        }
        .hanaFn input:first-child{
            border:0; width:100%;  height:50px; 
            border-radius: 5px; background: #0c8570;
            color:#fff; 
        }
        .hanaFn input:first-child:hover{ background: #1f5e53;cursor: pointer;}
        .hanaFn hr{margin:50px 0; height:1px; border:0;background: #d9d9d9; }

        .hanaFn input:nth-of-type(2),.hanaFn input:nth-of-type(3){
            width:100%; height:50px;
            border:1px solid #d9d9d9;
            border-radius: 5px; margin-bottom:10px;
            padding-left: 20px;
        }
        .hanaFn input:nth-of-type(2):focus,
        .hanaFn input:nth-of-type(3):focus{ background: #aeaeae; color:#fff;}

        .hanaFn form p{ font-size: 13px; color: #aeaeae;margin-top:50px;}


}

/*테블릿 서브스타일*/
@media screen and (min-width:491px) and (max-width:1199px) {

            /*전체 서브 공통*/
            #subContainer{ margin-top:100px; }
            .subTitle{ height:300px; text-align: center;}
            .sub1Bg{ background: url(../sub_img/hanaValueTitle.jpg) no-repeat center top/cover;  }
            .sub2Bg{ background: url(../sub_img/compositionTitle.jpg) no-repeat center top/cover;  }
            .sub3Bg{ background: url(../sub_img/foundationTitle.jpg) no-repeat center top/cover; }
            .sub4Bg{ background: url(../sub_img/businessListTitle.jpg) no-repeat center top/cover;  }
            .sub5Bg{ background: url(../sub_img/newsListTitle.jpg) no-repeat center top/cover;  }

            .subTitle h2{ color: #fff; padding:100px 0 10px 0; font-size:30px; font-weight: 800; }
            .subTitle p{ color:#fff; }

            .subLnb{ width:100%; height:50px; border-bottom:1px solid #d9d9d9; }
            .subLnb>div{ height:50px; display:flex; }

            .subLnb>div>a:first-child{ 
                width:20%; line-height: 50px; border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9; text-align: center;
            }
            .subLnb>div>*:not(:first-child){
                width:40%; border-right:1px solid #d9d9d9;
                padding-left:20px; line-height:50px;
            }

            #subContainer .subLnb ul{ padding-left:0; }
            .subLnb ul li a{ padding-left:20px;}
            .subLnb ul li:not(:first-child){ border:1px solid #d9d9d9; display: none; }
            .subLnb ul:hover li{ display: block; }
            .subLnb li:hover a{ display: block; height:50px; background: rgba(0,0,0,0.2); color:#fff;  }
            .subContent h3{ text-align: center; font-size:40px; font-weight: 700; margin:150px 0; }

            /*전체 서브 개별*/
            .value>div{ width:92%; margin:0 auto; text-align: center;}
            .value br{ display: none;}
    
            .value>div p:first-child{ margin-bottom: 30px;  }
            .value>div p strong{ font-size:30px; font-weight: 900; }
            .value>div p b{ font-weight: 800;}
            .value>div img{ width: 100%; margin:100px 0; }
    
            .value>div a{ 
                display: block; border:1px solid #d9d9d9; 
                width:100%; height:50px; margin:0 auto 100px auto;
                line-height: 50px; border-radius: 5px;
                font-size:14px; padding-left: 20px; text-align: left;
                background: url(../sub_img/more-btn1.GIF) no-repeat right 20px center;
            }
            .value>div a:hover{background: url(../sub_img/more-btn1.GIF) no-repeat right 20px center #d9d9d9; }


            .vision>div{ width:92%; margin: 0 auto; text-align: center;} 
            .vision br{ display: none;}
            .vision>div>img{ display: block; width:100%; margin:50px auto; }
            .vision>div>div h4{ font-size: 30px; font-weight: 800; margin:30px 0; }
            .vision>div>div>div>*,.vision>div>div>div>div>* { margin:30px 0; }
            .vision>div>div>div img{ width:100%; margin:50px 0; }
            .vision>div>div>div>div:nth-child(4) img{ width:100%; margin:50px 0; }
            .visionLine{ border-top:1px dotted #aeaeae; padding-top:50px; }
            .vision>div>div>div>div:first-child p:first-child{ color:#0c8570; font-weight:700; }
            .vision>div>div>div>div b{ font-size:23px; font-weight: 800; }
            .vision>div>div:last-child p:first-child{ font-size:23px; font-weight: 800;}
            .vision>div>div:last-child p:first-child b{ font-weight: 800; color: red; }

            .businessList table{ 
                    border-top:1px solid; width:92%; 
                    margin:0 auto 30px auto; border-collapse : collapse;
                    font-size:14px;
                }
    
            .businessList tr>*:nth-child(1),.businessList thead{ display: none; }
            
    
            .businessList tr>*{border-bottom:1px solid #d9d9d9; height:70px; text-align: center;}
            .businessList td:nth-child(2){ text-align: left; padding-left:20px; font-weight:700;}
            .businessList table a{ padding-right:20px; background: url(../sub_img/more-btn2.GIF) no-repeat right center;}
            .businessList th{ background: #f5f5f5; font-weight: 700;}
    
    
            .businessList>div>ul{ 
                width:300px; height:50px;
                margin: 0 auto 150px auto;
                display: flex; justify-content: space-between;
                font-size:14px;
            }
    
            .businessList>div>ul a:hover{ opacity:0.5; /*opacity(투명도): 배율단위*/ }
    
            .businessList-bottom{ width:100%; padding:50px 0; background: #f5f5f5;}
            .businessList-bottom ul{ width:92%; margin:0 auto; }
    
            .businessList-bottom li{ 
                    margin:30px 0;  padding:30px; height:200px; 
                    border-radius: 10px; background: #fff;
                }
    
            .businessList-bottom li>*{ margin-bottom:20px; }
            .businessList-bottom p:first-child strong{ font-weight: 700;}
            .businessList-bottom a{ font-size:14px; }
            .businessList-bottom a:hover{ opacity:0.5; }

            .managementSelect{ width:92%; margin: 0 auto 50px auto; }
    
            .managementSelect ol{ 
                height:50px; border:1px solid #d9d9d9;
                border-radius: 8px; 
                overflow: hidden; 
                margin-bottom:20px; 
                }
            .managementSelect ol:active{ border:2px solid #0c8570; }
            .managementSelect li{ 
                height:48px;
                line-height: 48px; padding:0 20px; background: #fff;
                margin-bottom:1px;
                border-radius: 8px;}
            .managementSelect>button{
                width: 100%; height:50px; background: #0c8570; color:#fff;
                border-radius: 8px;
                }
    
    
            .managementList table{
                border-top:1px solid; 
                width:92%; margin:0 auto 200px auto;
                border-collapse : collapse;
                font-size:14px;
            }
    
               .managementList tr>*:nth-child(1), .managementList td:nth-child(2), 
               .managementList thead{ display: none;}
    
    
               .managementList tr>*{ border-bottom:1px solid #d9d9d9; height:70px; text-align: center;}
    
               .managementList td:nth-child(3){ text-align: left; font-weight:700;}
               .managementList table a{ padding-right:20px; background: url(../img/download-btn.gif) no-repeat right center;}
               .managementList th{ background: #f5f5f5; font-weight: 700;}
       
       
       
               .focusVideoList>div{ 
                width:92%; margin:0 auto 100px auto;}
    
    
               .focusTab ul{ display: flex; flex-wrap: wrap; margin-bottom:30px;}
                   .focusTab button{ 
                    border:1px solid #d9d9d9; border-radius: 20px; padding:5px 15px; margin:0 10px 10px 0;}
               .focusTab li:nth-child(1) button{ border:0; background:#000; color:#fff; }
    
               .focusVideoList>div>ul{ display: flex; flex-wrap: wrap; justify-content: space-between;}    
               .focusVideoList>div>ul li{ width:48%; margin-bottom:50px;}


               .focusVideoList>div>ul li img{ width:100%; border-radius: 10px;}
               .focusVideoList>div>ul li p:nth-of-type(1){ margin:20px 0; }
               .focusVideoList>div>ul li p:nth-of-type(1) strong{ font-weight: 700;}
               .focusVideoList>div>ul li p:nth-of-type(2){ font-size:14px; color:rgba(0,0,0,0.6); }
               .focusVideoList>div>button{
                   display: block;
                   width:100%; height:50px; border:1px solid #d9d9d9;
                   margin:0 auto; border-radius: 5px;
                   font-weight: 700;
               }
       
       
               .layerPopup>div{
                   display: none;
                   position: fixed; left:0; top:0;
                   width:100%; height:100%; 
                   background: rgba(0,0,0,0.7);
                   z-index: 2;
               }
               .layerPopup>div>div{
                   position: fixed; left:50%; top:50%;
                   width:1080px; height:550px;
                   margin: -275px 0 0 -540px;
               }
               .layerPopup>div>div>p{ text-align: right; margin-bottom:30px;}
               .layerPopup button{ 
                   width:40px; height: 40px; border-radius: 20px;
                   background: rgba(255,255,255,0.2);
                   font-size:20px; color:#fff;
                   font-weight: 100;
               }
               .layerPopup>div>div>div{ display: flex;}
               .layerPopup iframe{
                   border:0; width:710px; height: 470px;
                   border-top-left-radius: 10px;
                   border-bottom-left-radius: 10px;
               }
               .layerPopup>div>div>div>div{ 
                   width:370px; height:470px;
                   background: #fff;
                   border-top-right-radius: 10px;
                   border-bottom-right-radius: 10px;
               }
               .layerPopup>div>div>div>div p{ padding: 40px 30px 0 30px; }
               .layerPopup strong{ font-size:23px; font-weight: 600; }
       
       
               .composition>div{ width:92%; margin: 0 auto 200px auto; }
               .composition table{
                   border-top:1px solid; width:100%;
                   border-collapse: collapse;
                   margin-bottom:20px;
               }
               .composition tr>*{ border-bottom:1px solid #d9d9d9; height:70px; font-size:14px;
               }
               .composition td:nth-child(2){ 
                   border-left: 1px solid #d9d9d9;
                   border-right: 1px solid #d9d9d9;
               }
               .composition td{ width:700px; padding-left:10px; }
               .composition td:nth-child(1){ background: #f5fbfa;}
               .composition td:nth-child(1)~td{ width:250px; text-align: right; padding-right:30px;}
               .composition>div>p{ font-size:14px; color:#aeaeae}
               .composition>div>p:nth-child(3){ margin-bottom:20px; }
       
       
       
               .meetingList>div{width:92%; margin:0 auto 200px auto;}
               .meetingListTitle{ margin-bottom: 30px;}
    
               .meetingListTitle strong{ font-size:22px; font-weight: 700;}
               .meetingListTitle p:last-child{ margin-top:20px; font-size:14px; color:#aeaeae; }
       
               .meetingList table{
                   border-top:1px solid; width:100%;
                   border-collapse: collapse;
                   margin-bottom: 20px;
               }
               .meetingList tr>*{ font-size:14px; text-align: center; padding: 27px 0; border-bottom: 1px solid #d9d9d9;}
               .meetingList td:nth-child(1){ width:25%; background: #f5f5f5; }
               .meetingList td:nth-child(2){ width:50%; text-align: left; padding-left:30px;}
               .meetingList th{ font-weight: 700;}
               .meetingList>div>a{ 
                display: block;
                height:50px; 
                border:1px solid #d9d9d9;
                border-radius: 10px;
                line-height: 50px;
                padding-left:20px;
                background: url(../img/download-btn.gif) no-repeat right 20px center;
            }
            .meetingList>div>a:hover{ border:0; background: url(../img/download-btn.gif) no-repeat right 20px center#d9d9d9;}

            .foundation>div{ width:92%; margin:0 auto 200px auto;}
            .foundation br{ display: none;}
    
            .foundationInfo{ 
                height:400px;
                background: url(../sub_img/foundationBg1.JPG) no-repeat right 30px bottom/60% auto #eff7f8;
                border-radius: 10px;
                overflow: auto;
                margin-bottom: 100px;
            }

            .foundationInfo p:first-child{ margin: 30px 0 10px 30px; font-size:16px; font-weight: 600; color:#0c8570; }
            .foundationInfo p:nth-child(2){ margin:0 0 50px 30px; width:270px; }
            .foundationInfo p:nth-child(2) b{ font-size: 25px; font-weight: 700; }
            .foundationInfo p:last-child{display:none; }
    
            .foundationTab{ display: flex; flex-wrap: wrap; margin-bottom:50px; }
            .foundationTab li{ 
                    width:33.33%; text-align: center; height:50px; line-height: 50px;
                    border-bottom:1px solid #d9d9d9;
                }
            .foundationTab li:first-child{ 
                    border-top:1px solid #0c8570; border-bottom:1px solid #0c8570;
                    background: #eff7f8;
                }
    
                .foundationTabDiv>div>div:first-child{ margin-bottom:30px; }
                .foundationTabDiv h4{ font-size:25px; font-weight: 700; margin-bottom: 30px;}
                .foundationTabDiv a{ 
                    border:1px solid #d9d9d9;
                    display: block; width:100%; height:50px; border-radius: 5px;
                    line-height: 50px; padding-left:25px;
                    font-size:14px; font-weight: 600;
                    background: url(../sub_img/home_icon.gif) no-repeat right 25px center;
                }
                .foundationTabDiv a:hover{ background: url(../sub_img/home_icon.gif) no-repeat right 25px center #d9d9d9; } 
                .foundationTabDiv>div>div:last-child{ font-size:18px; height:700px;}
                .foundationTabDiv>div:nth-child(1) div:last-child{
                    background: url(../sub_img/foundationBg2.png) no-repeat center bottom/800px auto;
                }
                .foundationTabDiv>div:nth-child(2) div:last-child{
                    background: url(../sub_img/foundationBg3.png) no-repeat center bottom/800px auto;
                }
                .foundationTabDiv>div:nth-child(3) div:last-child{
                    background: url(../sub_img/foundationBg3.png) no-repeat center bottom/800px auto;
                }
                .foundationTabDiv>div:nth-child(4) div:last-child{
                    background: url(../sub_img/foundationBg3.png) no-repeat center bottom/800px auto;
                }
                .foundationTabDiv>div:nth-child(5) div:last-child{
                    background: url(../sub_img/foundationBg3.png) no-repeat center bottom/800px auto;
                }
                .foundationTabDiv>div:nth-child(6) div:last-child{
                    background: url(../sub_img/foundationBg3.png) no-repeat center bottom/800px auto;
                }
                .foundationTabDiv>div:not(:nth-child(1)){ display: none; }
    
                
    
    
    
    
    
    
               .volunteer>div{ width:92%; margin:0 auto 200px auto;}
               .volunteerInfo{ 
                   height:400px; 
                   background: url(../sub_img/volunteerBg1.JPG) no-repeat right 30px bottom 50px/60% auto #fbf8f1;
                   border-radius: 10px;
                   overflow: auto;
                   margin-bottom: 100px;
               }
               .volunteerInfo p:first-child{
                   margin: 30px 0 10px 30px;
                   font-size:16px; font-weight: 600;
                   color:#0c8570;
               }
               .volunteerInfo p:nth-child(2){ margin: 0 0 50px 30px; }
               .volunteerInfo p:nth-child(2) b{font-size: 25px; font-weight: 700; }
               .volunteerInfo p:last-child{ display: none;}
    
    
    
               .volunteerTab{ display: flex; margin-bottom:50px; }
               .volunteerTab li{ 
                    flex:1; height:50px; border-bottom: 1px solid #d9d9d9;
                    text-align: center; line-height: 50px;
                }
                .volunteerTab li:first-child{
                    border-top:1px solid #0c8570; border-bottom:1px solid #0c8570;
                    background: #eff7f8;
                }
    
    
    
               .volunteerTabDiv h4{ margin-bottom: 30px; font-size: 25px; font-weight: 700;}
               .volunteerTabDiv>div>div p{ font-size:18px; margin-bottom:30px;}
    
    
    
               .volunteerSlide img{ width:100%; }
               .volunteerSlide{ 
                   width:100%; height:220px; 
                   overflow: hidden;
                   border-radius: 10px;
               }
               .volunteerSlide ul{ width: 400%; display: flex;}
               .volunteerSlide ul li{flex: 1;}
    
               .volunteerControls1{
                   display: flex; justify-content: space-between;
                   position: absolute;
                   width:92%;
                   margin-top: -130px;
            }
            .volunteerControls1 button{
                width:40px; height:40px; border-radius: 20px;
                background: #fff;
                box-shadow: 0 0 10px rgba(0,0,0,0.5);
                font-size:16px; font-weight: 700;
            }
            .volunteerState{
                position: absolute;
                margin: -60px 0 0 30px;
                padding:7px 16px;
                background: rgba(0,0,0,0.6);
                border-radius: 20px;
                color:rgba(255,255,255,0.5);
                letter-spacing: 3px;
            }
            .volunteerState span{ color:#fff;}
    
    
            .volunteerControls2{ margin-top:5px;}
            .volunteerControls2 ul{ width:100%; display: flex; justify-content: space-between;}
            .volunteerControls2 ul li{ flex:1; }
            .volunteerControls2 ul li:not(:last-child){ margin-right:5px;}
            .volunteerControls2 ul li img{ width:100%; border-radius: 10px;}
            .volunteerTabDiv a{    
                display: block;
                width:100%; height: 60px;
                border:1px solid #d9d9d9; border-radius: 10px;
                line-height: 55px; padding-left: 20px;   
                margin-top:100px;
                background: url(../img/more-btn1.gif) no-repeat right 20px center;
            }
            .volunteerTabDiv a:hover{ background: url(../img/more-btn1.gif) no-repeat right 20px center #d9d9d9; }

            .hanaFn>div{ width:320px; margin:0 auto 200px auto; }
            .hanaFn>div>p:first-child{
                font-size:30px; margin-bottom: 30px;
                text-align: center; letter-spacing: -2px;
            }
            .hanaFn>div>p:first-child b{ font-weight: 700;}
            .hanaFn>div>p:first-child b span{ font-weight: 700; color:#0c8570; }
            .hanaFn>div>p:nth-child(2){
                text-align: center; color: #aeaeae;
                font-size: 14px; margin-bottom: 30px;
            }
            .hanaFn input:first-child{
                border:0; width:100%;  height:50px; 
                border-radius: 5px; background: #0c8570;
                color:#fff; 
            }
            .hanaFn input:first-child:hover{ background: #1f5e53;cursor: pointer;}
            .hanaFn hr{margin:50px 0; height:1px; border:0;background: #d9d9d9; }

            .hanaFn input:nth-of-type(2),.hanaFn input:nth-of-type(3){
                width:100%; height:50px;
                border:1px solid #d9d9d9;
                border-radius: 5px; margin-bottom:10px;
                padding-left: 20px;
            }
            .hanaFn input:nth-of-type(2):focus,
            .hanaFn input:nth-of-type(3):focus{ background: #aeaeae; color:#fff;}
            .hanaFn form p{ font-size: 13px; color: #aeaeae;margin-top:50px;}

}


/*모바일 서브스타일*/
@media screen and (max-width:490px) {

           /*전체 서브 공통*/
           #subContainer{ margin-top:100px; }
           .subTitle{ height:300px; text-align: center;}
           .sub1Bg{ background: url(../sub_img/hanaValueTitle.jpg) no-repeat center top/cover;  }
           .sub2Bg{ background: url(../sub_img/compositionTitle.jpg) no-repeat center top/cover;  }
           .sub3Bg{ background: url(../sub_img/foundationTitle.jpg) no-repeat center top/cover; }
           .sub4Bg{ background: url(../sub_img/businessListTitle.jpg) no-repeat center top/cover;  }
           .sub5Bg{ background: url(../sub_img/newsListTitle.jpg) no-repeat center top/cover;  }
   
   
           .subTitle h2{ color: #fff; padding:100px 0 10px 0; font-size:30px; font-weight: 800; }
           .subTitle p{ color:#fff; }
   
           .subLnb{ width:100%; height:50px; border-bottom:1px solid #d9d9d9; }
           .subLnb>div{ height:50px; display:flex; }
   
           .subLnb>div>a:first-child{ 
               width:20%; line-height: 50px; border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9; text-align: center;
           }
           .subLnb>div>*:not(:first-child){
               width:40%; border-right:1px solid #d9d9d9;
               padding-left:20px; line-height:50px;
           }
   
           #subContainer .subLnb ul{ padding-left:0; }
           .subLnb ul li a{ padding-left:20px;}
           .subLnb ul li:not(:first-child){ border:1px solid #d9d9d9; display: none; }
           .subLnb ul:hover li{ display: block; }
           .subLnb li:hover a{ display: block; height:50px; background: rgba(0,0,0,0.2); color:#fff;  }
           .subContent h3{ text-align: center; font-size:40px; font-weight: 700; margin:150px 0; }
   
   

           /*전체 서브 개별*/
           .value>div{ width:92%; margin:0 auto; text-align: center;}
           .value br{ display: none;}

           .value>div p:first-child{ margin-bottom: 30px;  }
           .value>div p strong{ font-size:30px; font-weight: 900; }
           .value>div p b{ font-weight: 800;}
           .value>div img{ width: 100%; margin:100px 0; }

           .value>div a{ 
               display: block; border:1px solid #d9d9d9; 
               width:100%; height:50px; margin:0 auto 100px auto;
               line-height: 50px; border-radius: 5px;
               font-size:14px; padding-left: 20px; text-align: left;
               background: url(../sub_img/more-btn1.GIF) no-repeat right 20px center;
           }
           .value>div a:hover{background: url(../sub_img/more-btn1.GIF) no-repeat right 20px center #d9d9d9; }
   
   
           .vision>div{ width:92%; margin: 0 auto; text-align: center;} 
           .vision br{ display: none;}
           .vision>div>img{ display: block; width:100%; margin:50px auto; }
           .vision>div>div h4{ font-size: 30px; font-weight: 800; margin:30px 0; }
           .vision>div>div>div>*,.vision>div>div>div>div>* { margin:30px 0; }
           .vision>div>div>div img{ width:100%; margin:50px 0; }
           .vision>div>div>div>div:nth-child(4) img{ width:100%; margin:50px 0; }
           .visionLine{ border-top:1px dotted #aeaeae; padding-top:50px; }
           .vision>div>div>div>div:first-child p:first-child{ color:#0c8570; font-weight:700; }
           .vision>div>div>div>div b{ font-size:23px; font-weight: 800; }
           .vision>div>div:last-child p:first-child{ font-size:23px; font-weight: 800;}
           .vision>div>div:last-child p:first-child b{ font-weight: 800; color: red; }
   
   
           .businessList table{ 
                border-top:1px solid; width:92%; 
                margin:0 auto 30px auto; border-collapse : collapse;
                font-size:14px;
            }

           .businessList tr>*:nth-child(1),.businessList thead{ display: none; }
        

           .businessList tr>*{border-bottom:1px solid #d9d9d9; height:70px; text-align: center;}
           .businessList td:nth-child(2){ text-align: left; padding-left:20px; font-weight:700;}
           .businessList table a{ padding-right:20px; background: url(../sub_img/more-btn2.GIF) no-repeat right center;}
           .businessList th{ background: #f5f5f5; font-weight: 700;}


           .businessList>div>ul{ 
               width:300px; height:50px;
               margin: 0 auto 150px auto;
               display: flex; justify-content: space-between;
               font-size:14px;
           }

           .businessList>div>ul a:hover{ opacity:0.5; /*opacity(투명도): 배율단위*/ }

           
           .businessList-bottom{ width:100%; padding:50px 0; background: #f5f5f5;}
           .businessList-bottom ul{ width:92%; margin:0 auto; }

           .businessList-bottom li{ 
                margin:30px 0;  padding:30px; height:200px; 
                border-radius: 10px; background: #fff;
            }

           .businessList-bottom li>*{ margin-bottom:20px; }
           .businessList-bottom p:first-child strong{ font-weight: 700;}
           .businessList-bottom a{ font-size:14px; }
           .businessList-bottom a:hover{ opacity:0.5; }
   
   
   
   
           .managementSelect{ width:92%; margin: 0 auto 50px auto; }

           .managementSelect ol{ 
               height:50px; border:1px solid #d9d9d9;
               border-radius: 8px; 
               overflow: hidden; 
               margin-bottom:20px;
           }
           .managementSelect ol:active{ border:2px solid #0c8570; }
           .managementSelect li{ 
               height:48px;
               line-height: 48px; padding:0 20px; background: #fff;
               margin-bottom:1px;
               border-radius: 8px;}
           .managementSelect>button{
               width: 100%; height:50px; background: #0c8570; color:#fff;
               border-radius: 8px;
           }


           .managementList table{
               border-top:1px solid; 
               width:92%; margin:0 auto 200px auto;
               border-collapse : collapse;
               font-size:14px;
           }

           .managementList tr>*:nth-child(1), .managementList td:nth-child(2), 
           .managementList thead{ display: none;}


           .managementList tr>*{ border-bottom:1px solid #d9d9d9; height:70px; text-align: center;}

           .managementList td:nth-child(3){ text-align: left; font-weight:700;}
           .managementList table a{ padding-right:20px; background: url(../img/download-btn.gif) no-repeat right center;}
           .managementList th{ background: #f5f5f5; font-weight: 700;}
   
   
   
           .focusVideoList>div{ 
            width:92%; margin:0 auto 100px auto;}


           .focusTab ul{ display: flex; flex-wrap: wrap; margin-bottom:30px;}

           .focusTab button{ 
                border:1px solid #d9d9d9; border-radius: 20px; padding:5px 15px; margin:0 10px 10px 0;}
           .focusTab li:nth-child(1) button{ border:0; background:#000; color:#fff; }

           .focusVideoList>div>ul li{ margin-bottom:50px;}
           .focusVideoList>div>ul li img{ width:100%; border-radius: 10px;}
           .focusVideoList>div>ul li p:nth-of-type(1){ margin:20px 0; }
           .focusVideoList>div>ul li p:nth-of-type(1) strong{ font-weight: 700;}
           .focusVideoList>div>ul li p:nth-of-type(2){ font-size:14px; color:rgba(0,0,0,0.6); }
           .focusVideoList>div>button{
               display: block;
               width:100%; height:50px; border:1px solid #d9d9d9;
               margin:0 auto; border-radius: 5px;
               font-weight: 700;
           }
   
   
           .layerPopup>div{
               display: none;
               position: fixed; left:0; top:0;
               width:100%; height:100%; 
               background: rgba(0,0,0,0.7);
               z-index: 2;
           }
           .layerPopup>div>div{
               position: fixed; left:50%; top:50%;
               width:1080px; height:550px;
               margin: -275px 0 0 -540px;
           }
           .layerPopup>div>div>p{ text-align: right; margin-bottom:30px;}
           .layerPopup button{ 
               width:40px; height: 40px; border-radius: 20px;
               background: rgba(255,255,255,0.2);
               font-size:20px; color:#fff;
               font-weight: 100;
           }
           .layerPopup>div>div>div{ display: flex;}
           .layerPopup iframe{
               border:0; width:710px; height: 470px;
               border-top-left-radius: 10px;
               border-bottom-left-radius: 10px;
           }
           .layerPopup>div>div>div>div{ 
               width:370px; height:470px;
               background: #fff;
               border-top-right-radius: 10px;
               border-bottom-right-radius: 10px;
           }
           .layerPopup>div>div>div>div p{ padding: 40px 30px 0 30px; }
           .layerPopup strong{ font-size:23px; font-weight: 600; }
   
   
           .composition>div{ width:92%; margin: 0 auto 200px auto; }
           .composition table{
               border-top:1px solid; width:100%;
               border-collapse: collapse;
               margin-bottom:20px;
           }
           .composition tr>*{ border-bottom:1px solid #d9d9d9; height:70px; font-size:14px;
           }
           .composition td:nth-child(2){ 
               border-left: 1px solid #d9d9d9;
               border-right: 1px solid #d9d9d9;
           }
           .composition td{ width:700px; padding-left:10px; }
           .composition td:nth-child(1){ background: #f5fbfa;}
           .composition td:nth-child(1)~td{ width:250px; text-align: right; padding-right:30px;}
           .composition>div>p{ font-size:14px; color:#aeaeae}
           .composition>div>p:nth-child(3){ margin-bottom:20px; }
   
   
   
           .meetingList>div{width:92%; margin:0 auto 200px auto;}
           .meetingListTitle{ margin-bottom: 30px;}

           .meetingListTitle strong{ font-size:22px; font-weight: 700;}
           .meetingListTitle p:last-child{ margin-top:20px; font-size:14px; color:#aeaeae; }
   
           .meetingList table{
               border-top:1px solid; width:100%;
               border-collapse: collapse;
               margin-bottom: 20px;
           }
           .meetingList tr>*{ font-size:14px; text-align: center; padding: 27px 0; border-bottom: 1px solid #d9d9d9;}
           .meetingList td:nth-child(1){ width:25%; background: #f5f5f5; }
           .meetingList td:nth-child(2){ width:50%; text-align: left; padding-left:30px;}
           .meetingList th{ font-weight: 700;}
           .meetingList>div>a{ 
               display: block;
               height:50px; 
               border:1px solid #d9d9d9;
               border-radius: 10px;
               line-height: 50px;
               padding-left:20px;
               background: url(../img/download-btn.gif) no-repeat right 20px center;
           }
           .meetingList>div>a:hover{ border:0; background: url(../img/download-btn.gif) no-repeat right 20px center#d9d9d9;}
   
   
   
           .foundation>div{ width:92%; margin:0 auto 200px auto;}
           .foundation br{ display: none;}

           .foundationInfo{ 
               height:400px;
               background: url(../sub_img/foundationBg1.JPG) no-repeat right 30px bottom/60% auto #eff7f8;
               border-radius: 10px;
               overflow: auto;
               margin-bottom: 100px;
           }
   
           .foundationInfo p:first-child{ margin: 30px 0 10px 30px; font-size:16px; font-weight: 600; color:#0c8570; }
           .foundationInfo p:nth-child(2){ margin:0 0 50px 30px; width:270px; }
           .foundationInfo p:nth-child(2) b{ font-size: 25px; font-weight: 700; }
           .foundationInfo p:last-child{display:none; }

           .foundationTab{ display: flex; flex-wrap: wrap; margin-bottom:50px; }
           .foundationTab li{ 
                width:33.33%; text-align: center; height:50px; line-height: 50px;
                border-bottom:1px solid #d9d9d9;
            }
           .foundationTab li:first-child{ 
                border-top:1px solid #0c8570; border-bottom:1px solid #0c8570;
                background: #eff7f8;
            }

            .foundationTabDiv>div>div:first-child{ margin-bottom:30px; }
            .foundationTabDiv h4{ font-size:25px; font-weight: 700; margin-bottom: 30px;}
            .foundationTabDiv a{ 
                border:1px solid #d9d9d9;
                display: block; width:100%; height:50px; border-radius: 5px;
                line-height: 50px; padding-left:25px;
                font-size:14px; font-weight: 600;
                background: url(../sub_img/home_icon.gif) no-repeat right 25px center;
            }
            .foundationTabDiv a:hover{ background: url(../sub_img/home_icon.gif) no-repeat right 25px center #d9d9d9; } 
            .foundationTabDiv>div>div:last-child{ font-size:18px; height:700px;}
            .foundationTabDiv>div:nth-child(1) div:last-child{
                background: url(../sub_img/foundationBg2.png) no-repeat center bottom/800px auto;
            }
            .foundationTabDiv>div:nth-child(2) div:last-child{
                background: url(../sub_img/foundationBg3.png) no-repeat center bottom/800px auto;
            }
            .foundationTabDiv>div:nth-child(3) div:last-child{
                background: url(../sub_img/foundationBg3.png) no-repeat center bottom/800px auto;
            }
            .foundationTabDiv>div:nth-child(4) div:last-child{
                background: url(../sub_img/foundationBg3.png) no-repeat center bottom/800px auto;
            }
            .foundationTabDiv>div:nth-child(5) div:last-child{
                background: url(../sub_img/foundationBg3.png) no-repeat center bottom/800px auto;
            }
            .foundationTabDiv>div:nth-child(6) div:last-child{
                background: url(../sub_img/foundationBg3.png) no-repeat center bottom/800px auto;
            }
            .foundationTabDiv>div:not(:nth-child(1)){ display: none; }

            






           .volunteer>div{ width:92%; margin:0 auto 200px auto;}
           .volunteerInfo{ 
               height:400px; 
               background: url(../sub_img/volunteerBg1.JPG) no-repeat right 30px bottom 50px/60% auto #fbf8f1;
               border-radius: 10px;
               overflow: auto;
               margin-bottom: 100px;
           }
           .volunteerInfo p:first-child{
               margin: 30px 0 10px 30px;
               font-size:16px; font-weight: 600;
               color:#0c8570;
           }
           .volunteerInfo p:nth-child(2){ margin: 0 0 50px 30px; }
           .volunteerInfo p:nth-child(2) b{font-size: 25px; font-weight: 700; }
           .volunteerInfo p:last-child{ display: none;}



           .volunteerTab{ display: flex; margin-bottom:50px; }
           .volunteerTab li{ 
                flex:1; height:50px; border-bottom: 1px solid #d9d9d9;
                text-align: center; line-height: 50px;
            }
            .volunteerTab li:first-child{
                border-top:1px solid #0c8570; border-bottom:1px solid #0c8570;
                background: #eff7f8;
            }



           .volunteerTabDiv h4{ margin-bottom: 30px; font-size: 25px; font-weight: 700;}
           .volunteerTabDiv>div>div p{ font-size:18px; margin-bottom:30px;}



           .volunteerSlide img{ width:100%; }
           .volunteerSlide{ 
               width:100%; height:220px; 
               overflow: hidden;
               border-radius: 10px;
           }
           .volunteerSlide ul{ width: 400%; display: flex;}
           .volunteerSlide ul li{flex: 1;}

           .volunteerControls1{
               display: flex; justify-content: space-between;
               position: absolute;
               width:92%;
               margin-top: -130px;
           }
           .volunteerControls1 button{
               width:40px; height:40px; border-radius: 20px;
               background: #fff;
               box-shadow: 0 0 10px rgba(0,0,0,0.5);
               font-size:16px; font-weight: 700;
           }
           .volunteerState{
               position: absolute;
               margin: -60px 0 0 30px;
               padding:7px 16px;
               background: rgba(0,0,0,0.6);
               border-radius: 20px;
               color:rgba(255,255,255,0.5);
               letter-spacing: 3px;
           }
           .volunteerState span{ color:#fff;}


           .volunteerControls2{ margin-top:5px;}
           .volunteerControls2 ul{ width:100%; display: flex; justify-content: space-between;}
           .volunteerControls2 ul li{ flex:1; }
           .volunteerControls2 ul li:not(:last-child){ margin-right:5px;}
           .volunteerControls2 ul li img{ width:100%; border-radius: 10px;}
           .volunteerTabDiv a{    
               display: block;
               width:100%; height: 60px;
               border:1px solid #d9d9d9; border-radius: 10px;
               line-height: 55px; padding-left: 20px;   
               margin-top:100px;
               background: url(../img/more-btn1.gif) no-repeat right 20px center;
           }
           .volunteerTabDiv a:hover{ background: url(../img/more-btn1.gif) no-repeat right 20px center #d9d9d9; }
   
   
           .hanaFn>div{ width:320px; margin:0 auto 200px auto; }
           .hanaFn>div>p:first-child{
               font-size:30px; margin-bottom: 30px;
               text-align: center; letter-spacing: -2px;
           }
           .hanaFn>div>p:first-child b{ font-weight: 700;}
           .hanaFn>div>p:first-child b span{ font-weight: 700; color:#0c8570; }
           .hanaFn>div>p:nth-child(2){
               text-align: center; color: #aeaeae;
               font-size: 14px; margin-bottom: 30px;
           }
           .hanaFn input:first-child{
               border:0; width:100%;  height:50px; 
               border-radius: 5px; background: #0c8570;
               color:#fff; 
           }
           .hanaFn input:first-child:hover{ background: #1f5e53;cursor: pointer;}
           .hanaFn hr{margin:50px 0; height:1px; border:0;background: #d9d9d9; }
   
           .hanaFn input:nth-of-type(2),.hanaFn input:nth-of-type(3){
               width:100%; height:50px;
               border:1px solid #d9d9d9;
               border-radius: 5px; margin-bottom:10px;
               padding-left: 20px;
           }
           .hanaFn input:nth-of-type(2):focus,
           .hanaFn input:nth-of-type(3):focus{ background: #aeaeae; color:#fff;}
   
           .hanaFn form p{ font-size: 13px; color: #aeaeae;margin-top:50px;}
   
   

}







